/* css styles */

@font-face {
  font-family: avenir;
  src: url(assets/Avenir Next.ttc);
}

@font-face {
  font-family: myriad_pro;
  src: url(assets/MyriadPro-Regular.otf);
}

#quarto-header {
  font-size: 22px;
}

body {
  background-color: #f3f2e5;
}

h1, h2, h3 {
  color: #882724;
  font-family: avenir;
}

p {
  font-family: minion pro;
}

.bloom {
Padding: 0px 15px 0px 0px;
}

.turbidity {
Padding: 0 0 0 15px;
}
